<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
</head>

<body>
    <h1>Informações sobre <%= dados.nome %></h1>
    <p>Idade: <%= dados.idade %></p>
    <p>Cidade: <%= dados.cidade %></p>
</body>
</html>